/* stylelint-disable at-rule-no-unknown */

[id] {
  scroll-margin-top: 2ex;
}

body * {
  /**
   * see
   * https://web.dev/content-visibility/
   * https://drafts.csswg.org/css-contain/
   * https://caniuse.com/mdn-css_properties_content-visibility
   * https://caniuse.com/css-containment
   */
  //content-visibility: auto;
  //contains-intrinsic-size: 400px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-feature-settings: 'onum', 'tnum', 'salt', 'calt', 'liga', 'dlig', 'clig', 'hlig', 'zero';
}

::selection {
  color: map-get($theme-colors, 'contentbg');
  background-color: map-get($theme-colors, 'primary');
}

#content {
  padding-top: $spacer;
  background-color: map-get($theme-colors, 'contentbg');
}

#maincolumn {
  padding-right: 0;
}

h1 {
  text-transform: uppercase;

  .page-title {
    font-size: 1.7rem;
  }
}

blockquote {
  @extend .blockquote;

  p:last-child {
    margin-bottom: 0;
  }
}
