@font-face {
font-family: 'pantonsemibold';
src: url('semi-bold/panton-semibold-webfont.eot');
src: url('semi-bold/panton-semibold-webfont.eot?#iefix') format('embedded-opentype'),
url('semi-bold/panton-semibold-webfont.woff2') format('woff2'),
url('semi-bold/panton-semibold-webfont.woff') format('woff'),
url('semi-bold/panton-semibold-webfont.ttf') format('truetype');
font-weight: 500;
font-style: italic;
font-display: swap;
}
@font-face {
font-family: 'pantonsemibold_italic';
src: url('semi-bold-italic/panton-semibolditalic-webfont.eot');
src: url('semi-bold-italic/panton-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
url('semi-bold-italic/panton-semibolditalic-webfont.woff2') format('woff2'),
url('semi-bold-italic/panton-semibolditalic-webfont.woff') format('woff'),
url('semi-bold-italic/panton-semibolditalic-webfont.ttf') format('truetype'),
url('semi-bold-italic/panton-semibolditalic-webfont.svg#pantonsemibold_italic') format('svg');
font-weight: 500;
font-style: italic;
font-display: swap;
}
