[submodule "themes/hugo-debugprint"]
	path = themes/hugo-debugprint
	url = https://github.com/kaushalmodi/hugo-debugprint.git
[submodule "themes/dnb-hugo-garuda"]
  path = themes/dnb-hugo-garuda
  url = https://github.com/davidsneighbour/dnb-hugo-garuda.git
[submodule "assets/webfonts"]
	path = static/assets/webfonts
	url = git@github.com:davidsneighbour/samui-samui.de-fonts.git
