@font-face {
font-family: 'pantonregular';
src: url('regular/panton-regular-webfont.eot');
src: url('regular/panton-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('regular/panton-regular-webfont.woff2') format('woff2'),
url('regular/panton-regular-webfont.woff') format('woff'),
url('regular/panton-regular-webfont.ttf') format('truetype');
font-weight: 400;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'pantonregular_italic';
src: url('regular-italic/panton-regularitalic-webfont.eot');
src: url('regular-italic/panton-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
url('regular-italic/panton-regularitalic-webfont.woff2') format('woff2'),
url('regular-italic/panton-regularitalic-webfont.woff') format('woff'),
url('regular-italic/panton-regularitalic-webfont.ttf') format('truetype'),
url('regular-italic/panton-regularitalic-webfont.svg#pantonregular_italic') format('svg');
font-weight: 400;
font-style: italic;
font-display: swap;
}
