@font-face {
font-family: 'pantonbold';
src: url('bold/panton-bold-webfont.eot');
src: url('bold/panton-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('bold/panton-bold-webfont.woff2') format('woff2'),
url('bold/panton-bold-webfont.woff') format('woff'),
url('bold/panton-bold-webfont.ttf') format('truetype');
font-weight: 600;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'pantonbold_italic';
src: url('bold-italic/panton-bolditalic-webfont.eot');
src: url('bold-italic/panton-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
url('bold-italic/panton-bolditalic-webfont.woff2') format('woff2'),
url('bold-italic/panton-bolditalic-webfont.woff') format('woff'),
url('bold-italic/panton-bolditalic-webfont.ttf') format('truetype'),
url('bold-italic/panton-bolditalic-webfont.svg#pantonbold_italic') format('svg');
font-weight: 600;
font-style: italic;
font-display: swap;
}
