github.com/davidsneighbour/hugo-modules/auditor /home/patrick/github.com/davidsneighbour/hugo-modules/modules/auditor
github.com/davidsneighbour/hugo-modules/debug /home/patrick/github.com/davidsneighbour/hugo-modules/modules/debug
github.com/davidsneighbour/hugo-modules/errors /home/patrick/github.com/davidsneighbour/hugo-modules/modules/errors
github.com/davidsneighbour/hugo-modules/feeds /home/patrick/github.com/davidsneighbour/hugo-modules/modules/feeds
github.com/davidsneighbour/hugo-modules/functions /home/patrick/github.com/davidsneighbour/hugo-modules/modules/functions
github.com/davidsneighbour/hugo-modules/giscus /home/patrick/github.com/davidsneighbour/hugo-modules/modules/giscus
github.com/davidsneighbour/hugo-modules/head /home/patrick/github.com/davidsneighbour/hugo-modules/modules/head
github.com/davidsneighbour/hugo-modules/hooks /home/patrick/github.com/davidsneighbour/hugo-modules/modules/hooks
github.com/davidsneighbour/hugo-modules/icons /home/patrick/github.com/davidsneighbour/hugo-modules/modules/icons
github.com/davidsneighbour/hugo-modules/internals /home/patrick/github.com/davidsneighbour/hugo-modules/modules/internals
github.com/davidsneighbour/hugo-modules/netlification /home/patrick/github.com/davidsneighbour/hugo-modules/modules/netlification
github.com/davidsneighbour/hugo-modules/opensearch /home/patrick/github.com/davidsneighbour/hugo-modules/modules/opensearch
github.com/davidsneighbour/hugo-modules/pictures /home/patrick/github.com/davidsneighbour/hugo-modules/modules/pictures
github.com/davidsneighbour/hugo-modules/publisher /home/patrick/github.com/davidsneighbour/hugo-modules/modules/publisher
github.com/davidsneighbour/hugo-modules/pwa /home/patrick/github.com/davidsneighbour/hugo-modules/modules/pwa
github.com/davidsneighbour/hugo-modules/robots /home/patrick/github.com/davidsneighbour/hugo-modules/modules/robots
github.com/davidsneighbour/hugo-modules/search-algolia /home/patrick/github.com/davidsneighbour/hugo-modules/modules/search-algolia
github.com/davidsneighbour/hugo-modules/security /home/patrick/github.com/davidsneighbour/hugo-modules/modules/security
github.com/davidsneighbour/hugo-modules/shortcodes /home/patrick/github.com/davidsneighbour/hugo-modules/modules/shortcodes
github.com/davidsneighbour/hugo-modules/sitemap /home/patrick/github.com/davidsneighbour/hugo-modules/modules/sitemap
github.com/davidsneighbour/hugo-modules/social /home/patrick/github.com/davidsneighbour/hugo-modules/modules/social
