#back-to-top {
  position: fixed;
  right: 0;
  bottom: $spacer;
  z-index: $zindex-sticky+1;
  display: none;
  padding: 10px 15px;
  color: lighten(map-get($theme-colors, 'contentbg'), 20%);
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(map-get($theme-colors, 'primary'), 0.7);
  border-top-left-radius: $border-radius-lg;
  border-bottom-left-radius: $border-radius-lg;

  transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  animation: 2s b;
  animation: 2s b;
  animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  &:hover {
    text-decoration: none;
    background-color: map-get($theme-colors, 'primary');
  }

  &.d-block,
  &.d-none {
    transition: opacity 400ms;
  }
}
