@import '../../webfonts/fonts-full';

$font-family-sans-serif: 'panton', sans-serif;
$headings-font-family: 'panton', sans-serif;
$font-weight-lighter: 400;
$font-weight-light: 400;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 700;
$headings-font-weight: 700;

$font-family-brandheader: 'panton', sans-serif;
$font-weight-brandheader: 900;
