@font-face {
font-family: 'pantonthin';
src: url('thin/panton-thin-webfont.eot');
src: url('thin/panton-thin-webfont.eot?#iefix') format('embedded-opentype'),
url('thin/panton-thin-webfont.woff2') format('woff2'),
url('thin/panton-thin-webfont.woff') format('woff'),
url('thin/panton-thin-webfont.ttf') format('truetype');
font-weight: 100;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'pantonthin_italic';
src: url('thin-italic/panton-thinitalic-webfont.eot');
src: url('thin-italic/panton-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
url('thin-italic/panton-thinitalic-webfont.woff2') format('woff2'),
url('thin-italic/panton-thinitalic-webfont.woff') format('woff'),
url('thin-italic/panton-thinitalic-webfont.ttf') format('truetype');
font-weight: 100;
font-style: italic;
font-display: swap;
}
