@font-face {
font-family: 'pantonlight';
src: url('light/panton-light-webfont.eot');
src: url('light/panton-light-webfont.eot?#iefix') format('embedded-opentype'),
url('light/panton-light-webfont.woff2') format('woff2'),
url('light/panton-light-webfont.woff') format('woff'),
url('light/panton-light-webfont.ttf') format('truetype');
font-weight: 300;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'pantonlight_italic';
src: url('light-italic/panton-lightitalic-webfont.eot');
src: url('light-italic/panton-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
url('light-italic/panton-lightitalic-webfont.woff2') format('woff2'),
url('light-italic/panton-lightitalic-webfont.woff') format('woff'),
url('light-italic/panton-lightitalic-webfont.ttf') format('truetype'),
url('light-italic/panton-lightitalic-webfont.svg#pantonlight_italic') format('svg');
font-weight: 300;
font-style: italic;
font-display: swap;
}
