body, h1, h2, h3, h4, h5, h6, p {
    -webkit-font-feature-settings: "onum","tnum","salt","calt","liga","dlig","clig","hlig","zero";
    font-feature-settings: "onum","tnum","salt","calt","liga","dlig","clig","hlig","zero";
}

::-moz-selection,::selection {
    background-color: theme-color("primary");
    color: theme-color("contentbg");
}

#content {
    background-color:  theme-color("contentbg");
}

h1 {
    text-transform: uppercase;
}

blockquote {
    @extend .blockquote;
    p:last-child {
        margin-bottom: 0;
    }
}
