/* stylelint-disable at-rule-no-unknown */

#topnavigation {
  @extend .px-0;
  //position: sticky;
  //top: 0;
  //z-index: $zindex-sticky;

  background-color: $gray-800;

  ul {
    margin-left: 0.5rem;
  }

  &.navbar-fixed-top {
    .navbar-brand {
      @extend .d-inline-block;
    }
  }

  .progress {
    position: relative;
    top: 0;
    left: 0;
    width: 0%;
    height: 10px;
    overflow: hidden;

    .progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      /* stylelint-disable declaration-colon-space-after */
      background:
        linear-gradient(
          80deg,
          rgba(208, 75, 54, 1) 0%,
          rgba(227, 101, 17, 1) 20%,
          rgba(255, 186, 0, 1) 40%,
          rgba(0, 177, 128, 1) 60%,
          rgba(20, 122, 171, 1) 80%,
          rgba(103, 89, 151, 1) 100%
        );
    }
  }

  #topnavigationbrand {
    color: map-get($theme-colors, 'primary');
    font-family: $font-family-brandheader;
    font-weight: $font-weight-brandheader;
  }
}
