<!doctype html>
{{ $contentColumnClasses := "col" }}
{{ .Scratch.Set "hasSidebar" false }}
{{ if (and (isset ($.Param "dnb.sidebar") "enabled") (eq ($.Param "dnb.sidebar.enabled") true )) }}
  {{ .Scratch.Set "hasSidebar" true }}
  {{ $contentColumnClasses := "col-lg-8 col-sm-12 col" }}
{{ end }}
{{ .Scratch.Set "enableTemplateWarnings" true }}
{{ if (and (isset ($.Param "dnb") "enableTemplateWarnings") (eq ($.Param "dnb.enableTemplateWarnings") false )) }}
  {{ .Scratch.Set "enableTemplateWarnings" false }}
{{ end }}
<html lang="{{ .Site.Language.Lang }}" class="no-js">
{{ partial "func/hook.html" "setup" }}
<head>
  {{ partial "head.html" . }}
</head>
<body id="{{ .Site.Params.Siteslug | default "garuda-garuda" }}">
  {{ partial "func/hook.html" "body-start" }}
  {{ partial "header.html" . }}
  {{ partial "func/hook.html" "container-start" }}
  <main id="content" class="container">
    <div class="row">
      <div id="maincolumn" class="{{ $contentColumnClasses }}">
        {{ partial "func/hook.html" "content-start" }}
        {{ block "main" . }}{{ end }}
        {{ partial "func/hook.html" "content-end" }}
      </div>
      {{ if eq (.Scratch.Get "hasSidebar") true }}
        {{ partial "sidebar.html" . }}
      {{ end }}
    </div>
  </main>
  {{ partial "func/hook.html" "container-end" }}
  {{ partial "footer.html" . }}
  {{ partial "func/hook.html" "body-end" }}
</body>
</html>
{{ partial "func/hook.html" "teardown" }}
