{{ define "main" }}
  {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
  {{ range $paginator.Pages }}
  <article{{ with .File }} id="x{{ .UniqueID }}"{{ end }}>
    {{ .Scratch.Set "firstitem" "" }}
    <header class="title">
      <h1 class="entry-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
      {{ partial "content/meta-top.html" . }}
    </header>
    {{ partial "content/content.html" . }}
    {{ partial "content/meta-bottom.html" . }}
  </article>
  {{ end }}
  {{ partial "pagination/posts.html" . }}
{{ end }}
