{{ define "main" }}
<article{{ with .File }} id="x{{ .UniqueID }}"{{ end }}>
<header class="title">
    <h1 class="entry-title">{{ .Title }}</h1>
</header>
{{ .Content }}

{{ range (where .Site.RegularPages "section" "posts").GroupByDate "January 2006" "asc" }}

{{ $.Scratch.Set "current" false }}

{{ range first 1 .Pages }}
{{ if eq (.Date.Format "2006") .Title }}
{{ $.Scratch.Set "current" true }}
{{ end }}
{{ end }}

{{ if eq ($.Scratch.Get "current") (true) }}

{{ range first 1 .Pages }}
<strong>
    {{ i18n (printf "month_long_%d" .Date.Month) }}
    {{ .Date.Format "2006" }}
</strong>
{{ end }}

<ul class="list-inline">
    {{ range .Pages }}
    <li>
        {{ .Date.Format "2" }}.
        {{ i18n (printf "month_long_%d" .Date.Month) }}
        {{ .Date.Format "2006" }} - <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
</ul>
{{ end }}

{{ end }}
</article>
<footer>
    <h2>{{ i18n "all_years" }}</h2>
    <ul class="list-inline">
        {{ $archive := where $.Site.RegularPages "Section" "archive" }}
        {{ range $index, $item := sort $archive "Title" "desc" }}
            <li class="list-inline-item">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
        {{ end }}
    </ul>
</footer>
{{ end }}
