
article .entry-content .carousel img {
  height: 100%;
}

article .entry-content .carousel .carousel-caption {
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: hsla(60, 43%, 80%, 0.5);
  border-radius: 0.3rem;
}

article .entry-content .carousel .carousel-indicators li {
  background-color: #ec7263;
}

article .entry-content .carousel .carousel-indicators li .active {
  background-color: #290e1c !important;
}
