{{ partialCached "footer/copyright.html" . $.Lang }}
{{ partial "footer/debugging.html" . }}
{{ partialCached "footer/finisher.html" . $.Lang }}

{{/* internal javascript integration */}}
{{ with partialCached "func/getJavascript.html" . $.Lang }}
<script
  src="{{.RelPermalink}}" integrity="{{ .Data.Integrity | html }}"
  crossorigin="anonymous" async defer
  type="text/javascript"></script>
{{ end }}
{{ partialCached "func/getJavascriptByBuild" . $.Lang }}

{{/* service worker integration via dnb-org/components/pwa */}}
{{ partial "footer/service-worker" . }}
