{{ define "main" }}
<main>
    <div class="row">
        <div class="col-12">
            <header class="title">
                <h1 class="entry-title">{{ .Title }}</h1>
            </header>
            {{ .Content }}
        </div>
        {{ $archive := where $.Site.RegularPages "Section" "archive" }}
        {{ range $index, $item := sort $archive "Title" "desc" }}
        <div class="{{ with .Params.container }}{{.}}{{else}}col-sm-4{{end}} mb-3">
            <div class="card">
                <div class="card-header">{{ .Title }}</div>
                <div class="card-body">
                    <p>{{ .Description }}</p>
                    <a href="{{ .Permalink }}" class="btn btn-primary">{{ i18n "entries_from" .Title }}</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</main>
{{ end }}
