{{ define "main" }}
    <article>
        <h1>{{ i18n "not_found_title" }}</h1>
        <p>{{ i18n "not_found_description" }}</p>
    </article>
    <article>
    	<h2>{{ i18n "search_title" }}</h2>
    	<div class="row">
		  <div class="col-md-2">
		     <div id="hits-per-page-selector"></div>
		  </div>
		  <div class="col-md-10">
		    <div id="search-box"></div>
		  </div>
		</div>
		<div><small id="stats-container" class="text-end mb-3"></small></div>
		<div class="pagination-container"></div>
		<div id="hits" class="mb-5"></div>
		<div class="pagination-container"></div>
    </article>
{{ end }}
