<ul id="menu-topnavigation" class="navbar-nav">
  {{ $currentPage := . }}
  {{ range site.Menus.main }}
    <li class="nav-item">
      <a href="{{ .URL }}"
              {{ if eq .Page nil }}
                target="_blank" rel="noopener noreferrer"
              {{ end }}
         class="nav-link {{ if or (eq $currentPage.Section .Identifier) ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (and (eq $currentPage.Type "posts") (eq .Identifier "archive" )) (and (eq $currentPage.Kind "taxonomy") (eq .Identifier "archive" )) }} active{{ end }}">
        {{ with .Pre }}
          <span class="icon larger light" aria-hidden="true">{{ partialCached (print .) . $.Lang }}</span>&nbsp;
        {{ end }}
        {{ .Name }}
      </a>
    </li>
  {{ end }}
</ul>
