{{ partialCached "favicons.html" . }}
<!--
<link rel="dns-prefetch" href="//example.com">
<link rel="preload" href="image.png" as="image/script/style/font" >
<link rel="preload" href="https://example.com/fonts/font.woff" as="font" crossorigin>
https://fetch.spec.whatwg.org/#concept-request-destination
<link rel="preload" href="font.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" as="script" href="async_script.js"
onload="var script = document.createElement('script');
        script.src = this.href;
        document.body.appendChild(script);">
<link rel="preload" as="image" href="map.png" media="(max-width: 600px)">
<link rel="preload" as="script" href="map.js" media="(min-width: 601px)">
Link: <thing_to_load.js>;rel="preload";as="script"
Link: <thing_to_load.woff2>;rel="preload";as="font";crossorigin

audio: Audio file, as typically used in <audio>.
document: An HTML document intended to be embedded by a <frame> or <iframe>.
embed: A resource to be embedded inside an <embed> element.
fetch: Resource to be accessed by a fetch or XHR request, such as an ArrayBuffer or JSON file.
font: Font file.
image: Image file.
object: A resource to be embedded inside an <object> element.
script: JavaScript file.
style: CSS stylesheet.
track: WebVTT file.
worker: A JavaScript web worker or shared worker.
video: Video file, as typically used in <video>.
-->
<link rel="prefetch" href="/assets/images/garuda.png">

<link rel="preload" href="/assets/webfonts/400/regular/panton-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/webfonts/400/regular-italic/panton-regularitalic-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/webfonts/700/extra-bold/panton-extrabold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/webfonts/700/extra-bold-italic/panton-extrabolditalic-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/webfonts/900/heavy/panton-heavy-webfont.woff2" as="font" type="font/woff2" crossorigin>

{{ if ne site.IsServer }}
<link rel="preconnect" href="https://a.dnb9.xyz/">
<link rel="prefetch" href="https://a.dnb9.xyz/matomo.js">
<link rel="preload" href="https://a.dnb9.xyz/matomo.js" as="script" crossorigin>
<script type="text/javascript">
var _paq = window._paq = window._paq || [];
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(["setCookieDomain", "*.samui-samui.de"]);
_paq.push(["setDomains", ["*.samui-samui.de"]]);
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
var u="//a.dnb9.xyz/";
_paq.push(['setTrackerUrl', u+'matomo.php']);
_paq.push(['setSiteId', '2']);
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
})();
</script>
<noscript><img src="//a.dnb9.xyz/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></noscript>
{{ end }}
